Package: com.nahtedetihw.musicartworksave
Name: MusicArtworkSave
Version: 1.1
Architecture: iphoneos-arm
Description: Save Album Artwork in Music.app
Maintainer: Ethan Whited
Author: Ethan Whited
Section: Tweaks
Depends:
